<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h2>PAGINA DE INICIO HECHA POR JAMIR</h2>
        <p th:text = "Ejemplo"></p>
        <p th:text = "${mensaje}"></p>

        <hr>
        <b>Cedula:</b><span th:text = "${alguien.cedula}"></span><br>
        <b>Clave:</b><span th:text = "${alguien.clave}"></span><br>
        <b>Nombre:</b><span th:text = "${alguien.nombre}"></span><br>
        <b>Clave:</b><span th:text = "${alguien.email}"></span><br>
    </body>
</html>
